
.navBar{
  height:40px;
  background-color:#12A0DD;
}
.post{
  margin: auto;
  margin-top: 20px;
  width: 480px;
  border: 7px solid black;
}
.postTitle{
  font-size: 24px;
  margin: auto;
  text-align: center;
}
.postBlock{
  margin: auto;
  padding:15px;
}

